/* css styles */
/* Justify text globally */
body {
  text-align: justify;
}

/* Optional: Justify text for specific elements or classes (e.g., paragraphs) */
p {
  text-align: justify;
}


.about-image img {
  margin-bottom: 0.5em;
  width: 2000px;     /* You can adjust this */
  height: auto;
  border-radius: 100%; /* optional: make it a circle */
}
